<%#
#  Copyright 2009 Swansea University.
# 
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  under the License.
%>
<% project = project_selection_index %>
<% creator = project.creator %>
<tr id="project_<%= project.id -%>" class="<%=  cycle('odd', 'even') %>">
  <td>
    <%= link_to project.id, project, {:title => 'Click to view details of: ' + project.title}%>
  </td>
  <td title="<%= project.title %>">
    <%=  abbreviate(project.title) %>
  </td>
  <td><%= creator.name.last_first %>
  </td>
  <td title="<%=  project.centre_title %>"><%= project.centre_abbrev %></td>
  <td><input type="checkbox" id="project_selection_<%= project.id %>" name="project_selection[project_ids][]" value="<%=  project.id %>"
    <% if selection.include?(project.id) %>
      checked="checked"
    <% end %> /></td>
</tr>
