<% title "Your round #{@status.selection_round} project selections" %>
<p>Welcome <%= @student.name.informally %>.</p>

<% if @project_selection.nil? %>
    <p id="projects">You do not yet have a round <%=  @selection_round %> project selection.  You should <%= link_to "create a new project selection", new_project_selection_path   %> now!</p>
  <% else %>
  <% if  @project_selection.selected_projects.empty? %>
    <p id="projects">Your round <%=  @selection_round %> project selection list is empty. Do you want to <%= link_to "add some projects", new_project_selection_path %>?</p>
  <% else %>
    <table id="projects" class="tablesorter">
      <thead>
        <th>Rank</th>
        <th>Title</th>
        <th>Supervisor</th>
        <th>Centre</th>
      </thead>
      <tbody>
        <%= render(:partial => "selected_project_index", :collection => @project_selection.selected_projects) %>
      </tbody>
    </table>
    <p>
      <%= link_to 'Rank your project selections', project_selection_selected_projects_path(@project_selection) %>|
      <%= link_to "Add some more projects", edit_project_selection_path(@project_selection) %> |
      <%= link_to "Start over", project_selection_path(@project_selection), :confirm => 'Are you sure?', :method => :delete %>.
    </p>
  <% end %>
<% end %>
