<% title "Editing project allocation" %>

<% form_for(@project_allocation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.collection_select(:student_id, @students, :id, :name) %>
  </p>
  <p>
    <%= f.label "Project:" %><br />
    <%= f.hidden_field :project_id %><%= Project.find(@project_allocation.project_id).title %>
  </p>
  <p>
    <%= f.label "Supervisor:" %><br />
    <%= f.hidden_field :supervisor_id %><%= Supervisor.find(@project_allocation.supervisor_id).name %>
  </p>
  <p>
    <%= f.label "Allocation round:" %> <br/>
    <%= f.hidden_field :allocation_round %> <%= @allocation_round %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project_allocation %> |
<%= link_to 'Back', project_allocations_path %>