<% title "Editing project allocation" %>

<% form_for(@project_allocation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :supervisor_id %><br />
    <%= f.text_field :supervisor_id %>
  </p>
  <p>
    <%= f.label :allocation_round %> <%= @allocation_round %>
    <%= f.hidden_field :allocation_round %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project_allocation %> |
<%= link_to 'Back', project_allocations_path %>