

<p>
  <b>Student:</b>
  <%=h Student.find(@project_allocation.student_id).student_id %>
</p>

<p>
  <b>Project:</b>
  <%=h @project_allocation.project_id%> : <%=h Project.find(@project_allocation.project_id).title %>
</p>

<p>
  <b>Supervisor:</b>
  <%=h Supervisor.find(@project_allocation.supervisor_id).name %>
</p>

<p>
  <b>Allocation round:</b>
  <%=h @project_allocation.allocation_round %>
</p>


<%= link_to 'Edit', edit_project_allocation_path(@project_allocation) %> |
<%= link_to 'Back', project_allocations_path %>