<%#
#  Copyright 2009 Swansea University.
# 
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  under the License.
%>

<p>
  <strong>Student number</strong>: <%= student.student_id %> <br />
  <strong>Discipline</strong>: <%= student.discipline.long_name %><br />
  <strong>Grade</strong>: <%= student.grade %><br />
  <strong>Board decision</strong>: <%= student.board_decision %>
</p>

<% if student.project %>
<h3>Allocated Project</h3>
<p><%= link_to "#{student.project.id}", project_path(student.project) %>: <%= h(student.project.title) %> supervised by <%= link_to "#{h(student.project.supervisor.name)}", admin_supervisor_path(student.project.supervisor) %>.</p>
<% end %>

<% if student.project_selection %>
<h3>Selected projects</h3>
<table>
  <thead>
    <tr>
      <th>Position</th><th>Number</th><th>Title</th><th>Supervisor</th>
    </tr>
  </thead>
  <tbody>
    <%= render(:partial => "selected_project", :collection => student.project_selection.selected_projects) %>
  </tbody>
</table>
<% end %>