<% content_for :tabs do %>
<%= render (:partial => "shared/tabs", :locals => {:active => "admin"}) %>
<% end %>

<% title "Proman administration" %>

Stuff that you can do from here.

<h2>Bulk uploaders</h2>
<ul>
	<li>
		<%= link_to "Upload staff details", '/admin/bulk_uploader/import_staff' %>
	</li>
	<li>
		<%= link_to "Upload student details", '/admin/bulk_uploader/import_students' %>
	</li>
</ul>

<h2>Management tools</h2>
<ul>
	<li>
		<%= link_to "Manage users", admin_users_path %>
    </li>
    <li>
		<%= link_to "Manage students", admin_students_path %>
    </li>
    <li>
		<%= link_to "Manage projects", admin_projects_path %>
    </li>
</ul>