<%# Copyright 2009 Swansea University

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
%>

<% title "Request an Account" %>
<p>To use this service you must be a member of staff or a student of the School of Engineering at Swansea University.
  You may request an account by completing the following form. Your status will be subject to confirmation by one of the project
coordinators and there may be a delay of one or two working days before your account is fully activated.</p>

<%  content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#staff_research_centre").hide();

      $("input[@name='staff_or_student']").change(function() {
        if ($("input[@name='staff_or_student']:checked").val() == "student") {
          $("#student_discipline").slideDown("slow");
          $("#staff_research_centre").slideUp("slow");
        }
        else {
          $("#staff_research_centre").slideDown("slow");
          $("#student_discipline").slideUp("slow");
        }
      });
    });
  </script>
<% end %>
<% form_for @user, :url => users_path do |f| -%>


  <fieldset><legend>Login information</legend>
    <%= error_messages_for :user %>

    <p>
      <%=  label :user, :login, "Your Choice of Login" %><br/>
      <%= f.text_field 'login' %>
    </p>

    <p>
      <%=  label :user, :password, "Password" %><br/>
      <%= f.password_field 'password' %>
    </p>

    <p>
      <%=  label :user, :password_confirmation, "Confirm Password" %><br/>
      <%= f.password_field 'password_confirmation' %>
    </p>

    <p>
      <%=  label :user, :email, "What is your email address?" %><br />
      <%= f.text_field 'email' %>
    </p>

  </fieldset>
  <fieldset><legend>About you</legend>
    <p>Please give us some extra information to help us to identify you and to allow us to personalize the application for you.</p>
    <% fields_for @user.name do |name| %>
      <p>
        <%=  label :name, :title, "Title" %>       <%= name.select(:title, %w{ Mr Mrs Ms Dr Prof. } )%>
        <%=  label :name, :first, "First Name" %>  <%= name.text_field 'first', :size=>"20" %>
        <%=  label :name, :initials, "Initials" %> <%= name.text_field 'initials',  :size=>"5" %>
        <%=  label :name, :last, "Last Name" %>    <%= name.text_field 'last', :size=>"20" %>
      </p>
      <p>
        <%= label :name, :known_as, "What should Proman call you?" %> <%= name.text_field 'known_as', :size=>"20" %>
      </p>
    <% end %>

    <label for="student">Are you a student <input id="student_selected" type="radio" name="staff_or_student" value="student" checked="checked "/>
    or <label for="student"> or a member of staff <input id="staff_selected" type="radio" name="staff_or_student" value="staff" /></label>?
    <div id="staff_research_centre">
      <%= select_research_centre("Select your research centre: ") %>
    </div>
    <div id="student_discipline">
      <%= select_discipline("Select your discipline: ") %>
    </div>
  </fieldset>

  <p><%= submit_tag 'Request account' %></p>
<% end -%>