<div id="<%= pager_id %>" class="pager">
  <form>
    <%= image_tag("/images/icons/first.png",:class => "first", :alt => '|<<', :title => "Jump to first page") %>
    <%= image_tag("/images/icons/prev.png", :class=>"prev", :alt => '<<', :title => "Previous page")  %>
    <input type="text" class="pagedisplay" />
    <%= image_tag("/images/icons/next.png", :class=>"next", :alt => '>>', :title => "Next page")  %>
    <%= image_tag("/images/icons/last.png", :class=>"last", :alt => '>>|', :title => "Jump to last page")  %>
    <select class="pagesize">
      <option selected="selected"  value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option  value="40">40</option>
    </select>
  </form>
</div>