<% content_for :tabs do %>
  <%= render(:partial => "shared/tabs", :locals => {:active_tab => :projects}) %>
<%  end %>

<% title "All Projects" %>
<p><%= render(:partial => "navigation") %></p>

<table>
  <thead><td>Number</td><td>Title</td><td>Supervisor</td><td>Email</td></thead>
  <tbody>

  <% @projects.each do |project| %>
    <% creator = User.find(project.created_by) %>
    <tr>
      <td>
        <%= project.id -%>
      </td>
      <td>
        <%= link_to project.title, project %>
      </td>
      <td><%= creator.name %>
      </td>
      <td><a href="mailto:<%= creator.email %>">
        <%= creator.email -%></a>
      </td>
    </tr>
  <% end %>
</table>

<br />
