<%# Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
%>

<% title @project.title %>

<% supervisor = User.find(@project.created_by) %>
<p><strong>Supervisor</strong>:
  <%= supervisor.name %>

  (<a href="mailto:<%= supervisor.email %>"><%= supervisor.email %></a>)
</p>
<p>
  <strong>Research Centre</strong>: <%=  supervisor.supervisor.research_centre.title %>.
</p>

<p><strong>Description</strong>: <%= @project.description %></p>

<p><strong>Resources</strong>: <%= @project.resources %></p>

<% if @project.carbon_critical %>
  <p>This project may be suitable for the Atkins Carbon Critical award.</p>
<% end %>
<% if @project.sure %>
  <p>This project is part of the Swansea University Racecar Engineering (SURE) project.</p>
<% end %>
<p><strong>Suitable for</strong>:</p>
<%= render( :partial => "shared/list_disciplines", :object => @project) %>

<% if can_edit?(@project) %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>