

<%= title "Your Page" %>

<%= slogan "&ldquo;This above all: to thine own self be true&rdquo; &ndash; William Shakespeare (Hamlet 1601)"%>


<p>Welcome to <em>your</em> personal account page, <%=  @user.name.informally -%>.</p>
<p>This page is all about you! From here you can:</p>
<ul><li>Access and amend your <%= link_to 'login details', user_account_path(@user), { :title => "Your account details account" } -%>.</li>
  <% if @user.supervisor?  %>
    <!-- If you are staff -->
    <li>View and edit your <%= link_to "project descriptions", user_projects_path -%>.</li>
    <!-- If any of your projects have been allocated to students -->
    <li>View your project students (coming soon)</li>
  <% end %>
  <% if @user.student?  %>
    <!-- If you are a student -->
    <!-- If registration/or selection -->
    <li>View the <%= link_to "available projects", projects_path -%>.</li>
    <% if Proman::Config.can_select? %>
    <li>Make <%= link_to 'project selection or view and rank the projects you have selected', project_selections_path %>.</li>
    <% end %>
    <!-- If project has been allocated -->
    <!-- <li>Find the contact details of your supervisor and research centre coordinator (after allocation).</li> -->
  <% end %>
</ul>

