<%#
#  Copyright 2009 Swansea University.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.
#  under the License.
%>

<% title "Current status" %>

<% if @status.code %>
<h3>Code</h3><p> <%= @status.code %></p>
<h3>Message</h3><%= textilize(@status.message) %>
<h3>Default permissions</h3><p><code><%= @status.default_permissions %></code> (<%= @status.octal_permissions %>)
<%= render(:partial => "other_settings", :locals => { :setting => @status }) %>
<p><%= link_to "Change status", edit_admin_status_path(@status) %></p>
<% else %>
<p>Status undefined. <%= link_to "Set status?", edit_admin_status_path(@status) %></p>
<% end %>

<%= link_to 'Back', admin_status_settings_path %>