<% title "Manage users" %>

<table border="1">
  <thead>
  	<td>id</td><td>Name</td><td>Login</td><td>Show</td><td>Edit</td><td>Delete</td>
  </thead
  <tbody>

<% @users.each do |user| %>

  <tr>
  	<td><%= user.id %></td>
    <td><%= user.name.last %>, <%= user.name.title %> <%= user.name.first %></td>
  	<td><%= user.login %></td>
    <td><%= link_to 'Show', admin_user_path(user) %></td>
    <%#= link_to project.title, project %>
    <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    <td><%= link_to 'Delete', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New user', new_admin_user_path %>