<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
 Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
  <head>
    <%= render(:partial => "shared/html_header") %>
    <%= yield :head %>
  </head>
  <body>
    <div id="header">
      <h1><span class="logo"><%= proman %></span></h1>
      <h2><%= yield(:headline) || "EG-353: Research Projects 2009-2010" %></h2>
      <%= yield(:tabs) || authorized_page_tabs %>
      <p class="menu">
      <%= render(:partial => "shared/logged_in") %> 
      </p>
    </div>

    <div class="colmask threecol">
      <div class="colmid">
        <div class="colleft">
          <div class="col1">
            <!-- Column 1 start -->
            <h2><%= yield :title %></h2>
            <p style="color: green"><%= flash[:notice] %></p>
            <%= yield :layout %>
            <!-- Column 1 end -->
          </div>
          <div class="col2">
            <!-- Column 2 start -->
            <%= yield :left_sidebar %>
            <!-- Column 2 end -->
          </div>
          <div class="col3">
            <!-- Column 3 start -->
            <%= render :partial => "shared/activities" %>
            <%= yield :right_sidebar %>
            <!-- Column 3 end -->
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render(:partial => "shared/footer") %>
    </div>
  </body>
</html>
