<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
 Copyright 2009 Swansea University

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render(:partial => "shared/html_header") %>
    <%= yield :head %>
  </head>
  <body>
    <div class="page_margins">
      <div id="border-top">
        <div id="edge-tl"></div>
        <div id="edge-tr"></div>
      </div>
      <div class="page">
        <div id="header">
          <div id="topnav">
            <!-- start: skip link navigation -->
            <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
            <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
            <!-- end: skip link navigation --><a href="#">Login</a> | <a href="#">Contact</a> | <a href="#">Imprint</a>
          </div>
          <%= render(:partial => "shared/header") %>
        </div>
        <div id="nav">
          <!-- skiplink anchor: navigation -->
          <a id="navigation" name="navigation"></a>
          <div class="hlist">
            <!-- main navigation: horizontal list -->
            <%= yield :tabs %>
          </div>
           <p id="navigation">
    <%= render(:partial => "navigation") %>
  </p>
        </div>
        <div id="main">
          <div id="col1">
            <div id="col1_content" class="clearfix">
              <!-- add your content here -->
              <h1><%= yield :title %></h1>
              <p style="color: green"><%= flash[:notice] %></p>
              <%= yield :layout %>
            </div>
          </div>
          <div id="col3">
            <div id="col3_content" class="clearfix">
              <!-- add your content here -->
              <%= render :partial => "shared/activities" %>
              <%= yield :right_sidebar %>
            </div>
            <!-- IE Column Clearing -->
            <div id="ie_clearing"> &#160; </div>
          </div>
        </div>
        <!-- begin: #footer -->
        <div id="footer">Layout based on <a href="http://www.yaml.de/">YAML</a>
          <%= render(:partial => "shared/footer") %>
        </div>
      </div>
      <div id="border-bottom">
        <div id="edge-bl"></div>
        <div id="edge-br"></div>
      </div>
    </div>
  </body>
</html>

